.contraste div, .contraste p, .contraste li {
    background-color: #000 !important;
    color: #fff !important;
}
.contraste div#header {
    background: #000;
    background-image: none;
    border-bottom: 1px solid #fff;
}
.contraste header#main-header {
    background: #000;
    border-bottom: 1px solid #fff;
}